<!DOCTYPE html>
<html>
  <head>
    <title>RentalHouseChores</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <html>
  <head>
    <title>Todolist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <body>
  <div>
  <%= render "shared/topnav"%>
  </div>
  <div class="sidenav">
   <%= render "shared/nav"%>
  </div>
  <section class= "page">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
 
  
  <section >
  <div id="bg">
    <%= yield %>
    </div>
    </section>
    </section>
  </body>
</html>
